@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
*{box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;}
img {max-width: 100%; height:auto; display: block; outline: none;}
a {transition: all 0.3s ease-in-out;}
input,select,textarea {color: #000; -webkit-appearance: none;-ms-appearance: none;-moz-appearance: none; appearance: none;height: 44px;padding: 0 24px;font-weight:500;font-family: 'Montserrat', sans-serif;border: solid 1px #c6c3c3;font-size: 1em; }
input[type="checkbox"] {appearance:checkbox; -webkit-appearance:checkbox; -ms-appearance:checkbox; -moz-appearance:checkbox;width:25px !important;
	height: 25px !important;}
	select {color: #4b4747;}
	button {background-color: #eb1c24; cursor: pointer; color: #fff;font-size: 0.85em;border: none;padding: 7px 20px;border-radius: 5px;font-weight: 600;font-family: 'Montserrat', sans-serif; transition: all 0.3s ease-in-out;}
	button:hover {background-color: #000;color:#fff;}
	h1,h2,h3,h4 {font-family: 'Montserrat', sans-serif;}
	h2 {font-size: 1.331em;}
	a:hover {text-decoration: none;}
	body {margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-size:16px;}
	section.loging-section {background-size: cover !important; height: 100vh;display: flex;flex-wrap: wrap; display:-webkit-flex;-webkit-flex-wrap: wrap; display:-ms-flexbox;-ms-flex-wrap: wrap;}
	.form-control:focus {color: #000;}
	.form-control {font-size: 1em;}
	.loging-section .container {max-width: 1378px; display: flex; flex-wrap: wrap; align-items: center; display:-webkit-flex; -webkit-flex-wrap: wrap; -webkit-align-items:center; display:-ms-flexbox; -ms-flex-wrap: wrap; -ms-flex-align: center; }
	.loging-section .container .row {width: 100%;margin: 0;}
	.login-content {background-color: #fff; border-radius: 5px; box-shadow: 0px 0px 15px #0d0d0d;display: flex; }
	.number-top {position: absolute; right: 0; }
	.number-top a {color: #fff; font-size: 0.9em; padding: 10px; display: inline-block; }
	.container {max-width: 100%;}
	.login-img {width: 45.5%; float: left; }
	.loing-form {width: 415px; float: left; margin: 0 auto; padding:0; display:flex; align-items: center; display: -webkit-flex; display: -ms-flexbox; -webkit-align-items: center; -ms-flex-align: center; min-height: 713px;  }  
	.loing-form .form input {height: 62px; border-radius: 50px; border: solid 2px #f6a6a9; padding: 0 71px; color: #ef4950; font-size: 1em; font-weight: 500; }
	.loing-form .form-group {margin-bottom: 27px; position: relative;}
	.loing-form .logo-img {text-align: center; padding-bottom: 44px; }
	.loing-form .form button.btn {background-color: #ef4950; border: none; border-radius: 50px; height: 60px; width: 100%; text-transform: uppercase; font-size: 1.45em; letter-spacing: 2px; font-weight: 400; }
	.loing-form .logo-img img {margin: 0 auto;}
	p.forget-pass {text-align: center; padding-top: 30px; }
	.forget-text {text-align: center; padding-bottom: 30px; }
	.Reset-pass.loing-form .logo-img {padding-bottom: 20px;}
	.Reset-pass .forget-text {padding-bottom: 1px;}
	.loing-form.Reset-pass .alert.alert-danger {position: relative; border: none; padding: 0; margin-bottom: 0; bottom: 0; }
	.loing-form.forget-pas-box .logo-img {padding-bottom: 15px;}
	.loing-form .form-group:nth-child(2) {margin-bottom: 27px; }
	.loing-form .form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#ef4950; }
	.loing-form .form input::-moz-placeholder { /* Firefox 19+ */ color: #ef4950; }
	.loing-form .form input:-ms-input-placeholder { /* IE 10+ */ color: #ef4950; }
	.loing-form .form input:-moz-placeholder { /* Firefox 18- */ color: #ef4950; }
	span.login-icon-img {position: absolute; top: 21px; left: 36px; }
/*.loing-form .form input[type="password"]::-webkit-input-placeholder,.ragistration-section .col-md-9 input[type="password"]::-webkit-input-placeholder {font-size:2.5em;}
.loing-form .form input[type="password"]::-moz-placeholder,.ragistration-section .col-md-9 input[type="password"]::-moz-placeholder {font-size:2.5em;}
.loing-form .form input[type="password"]:-ms-input-placeholder,.ragistration-section .col-md-9 input[type="password"]:-ms-input-placeholder {font-size:2.5em;}
.loing-form .form input[type="password"]:-moz-placeholder,.ragistration-section .col-md-9 input[type="password"]:-moz-placeholder {font-size:2.5em;}*/
.loing-form .alert-danger {color: #ef4950; background-color:transparent; border-color:none; text-align: center; position: absolute; left: 0; right: 0; bottom: -34px; }
.loing-form .form {position: relative;}
.wrapper {background-color: #f2f2f2; max-width: 100%; margin: 0 auto; }
.logo-box {background-color: #fff; padding:30px 25px; box-shadow: 2px 0 2px #ddd; height: 87px; }
nav {min-height: 500px; background-color:rgb(48, 52, 61); width: 244px; position: fixed; height: 100%; z-index: 999; top: 0; /*overflow-x: hidden; padding-right: 3px;*/ }
.app-body {margin-left:244px; /*height:calc(100vh - 33px);*/}
/* .footer_fixed .app-body {height:calc(100vh - 33px);} */
.sidebar-menu ul li {list-style-type: none; padding-bottom:0px; width: 100%; display: block;padding: 0;line-height: 0; clear: both;}
.sidebar-menu ul {padding:30px 0 0; }
.sidebar-menu ul li a:hover,.sidebar-menu ul li.active > a {background-color: #494d58; }
.sidebar-menu ul li span.icon-img {float: left; }
.sidebar-menu ul li a {display: inline-block; width: 100%; padding: 10px 16px; }
.sidebar-menu ul li span.menu-tital {color: #fff; padding-left: 7px; font-family: 'Montserrat', sans-serif;  font-size: 0.85em; font-weight: 500; float: left; line-height: normal; display: block; overflow-x: hidden; opacity: 1; padding-top: 3px; }
.sidebar-menu ul li{position: relative;}
.sidebar-menu ul li .dropdown-menu {background-color: rgb(48, 52, 61);padding: 0;position: static !important;transform: none !important;border: 0;width: 100%;}
.sidebar-menu ul li .dropdown-menu li {display:block; line-height: 0; padding: 0; margin: 0; width: 100%;}
.sidebar-menu ul li .dropdown-menu li a {padding-left: 37px;}
/* .sidebar-menu ul li.active .dropdown-menu{display: block;} */
li.show > a {background: #494d58 url(../images/nav-down-arrow.png)no-repeat 94% center !important; transition: none !important; }
li.show > a span.menu-arrow {display: none; }
.sidebar-menu ul li.active.show .dropdown-menu {
	display: block;
} 
/* .sidebar-menu ul li.active .dropdown-menu {display: none;} */
.profile-img {width: 50px; height: 50px; border-radius: 50px; overflow: hidden; float: left; }
.sild-menu .app-body {margin-left: 70px;}
.sild-menu nav .sidebar-menu ul li span.menu-tital {opacity: 0; }
.sild-menu nav,.sild-menu .sidebar-menu {width: 70px; }
.menual_fun_lens_wrap table tr td textarea {background-color: transparent; border: none; resize: none;width: 100%;overflow: hidden; color: #8c8c8c !important; }
.sidebar-menu {width: 244px;background-color: rgb(48, 52, 61);height: calc(100vh - 87px); overflow: hidden; }
nav,.app-body,.sidebar-menu ul li span.menu-tital,.logo-box img,.sidebar-menu {transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; }
.logo-box img {width: 145px; max-width: none; opacity: 1; }
.logo-box img.active-logo {opacity: 0; position: absolute; max-width: 26px; left: 25px; top: 30px; }
.sild-menu .logo-box img {opacity: 0;pointer-events: none; }
.sild-menu .logo-box img.active-logo {opacity: 1; position: absolute; max-width: 26px; left: 25px; top: 30px; }
span.menu-arrow {float: right; display: inline-block; padding-top:8px; }
.slid-nav {width: 244px;}
header {background-color: #ffffff; padding:0px 37px 0; height: 87px;position: relative; }
.tob-nve-btn {float: left; padding-top: 35px; }
.tob-nve-btn img {cursor: pointer;}
.profile-user-list {float: left; padding:12px 26px 0 19px; position:relative; cursor: pointer; }
.profile-user-list span {font-family: 'Montserrat', sans-serif; font-size: 0.8em; font-weight: 600; display: block; padding-right: 20px; background-position: right center !important; }
.profile-img {width: 40px; height: 40px; border-radius: 50px; overflow: hidden; float: left; }
.profile-box {float: right; padding-top: 23px; }
.title-stats-section .container {max-width: 100%; }
.title-stats-cont {background-color: #ff8085; border-radius: 5px; min-height: 141px; /*background: linear-gradient(to right, rgb(113, 99, 234), rgba(86, 74, 200,1));*/ position: relative; padding: 31px 30px 20px; height: 100%;}
.title-stats-cont h3 {font-size: 1.25em; color: #fff; margin-bottom: 4px; font-family: 'Montserrat', sans-serif; position: relative; z-index: 99; }
.title-stats-cont span.org-number {display: block; color: #fff; font-size: 2.8em; font-family: 'Roboto', sans-serif; line-height: normal; }
.title-stats-cont.user-box {background-color: #ff454b; /*background: linear-gradient(to right,rgb(52, 197, 216), rgb(25, 162, 181));*/ }
.title-stats-cont.per-box {background-color: #eb1c24; /*background: linear-gradient(to right,rgb(52, 197, 216), rgb(25, 162, 181));*/ }
.title-stats-section {padding: 30px 18px; }
.profile-user-list ul li {list-style-type: none; padding: 0 14px 10px; }
.profile-user-list ul li a:hover {color: #eb1c24; text-decoration: none; }
.profile-user-list ul li a {color: #000; font-size: 0.9em; }
.profile-user-list ul {    background-color: #fff; z-index: 99; padding: 7px 0; width: 175px; border: none; box-shadow: 0px 2px 0px #eb1c24; min-width: auto; border-radius: 0; margin-top: 12px; top: 21px !important; left: -70px !important; }
.add-fild-section {/*overflow: scroll; height: calc(100vh - 91px); */padding:30px 15px; }
.fild-stats-cont {background-color: #fff; padding: 35px 0px 35px 41px; margin-bottom: 40px; width: 100%; display: inline-block; }
.fild-stats-cont h2:after {content: ""; position: absolute; background-color: #eb1c24; height: 2px; width: 81px; left: 3px; bottom: 0; }
.fild-stats-cont h2 {font-size: 1.55em; font-family: 'Montserrat', sans-serif; font-weight: 800; position: relative; padding-bottom: 18px; margin-bottom: 30px; }
.add-content form {margin: 0 -26px; display: inline-block; width: 100%; }
.profile-user-list .dropdown-toggle::after {display: none;}
.title-stats-cont img {position: absolute; right: 0; bottom: 0; }
.add-content {padding: 0 15px; }
.add-content .col-md-6,.add-content .col-md-4,.add-content .col-md-3 {padding-right: 25px; padding-left: 25px;}
.add-content .form-group {width:100%; float: left; margin: 0 0px 40px; }
.add-content .form-group input,.add-content .form-group select {height: 44px; padding: 0 24px; font-weight: 600; font-family: 'Montserrat', sans-serif; border: solid 1px #c6c3c3; }
.add-content .form-group select.form-control:not([size]):not([multiple]) {height: 44px !important;}
.add-logo-box h4 {font-size: 0.99em; padding-top: 17px; font-family: 'Montserrat', sans-serif; font-weight: 600; }
.add-logo-box img {margin: 0 auto; }
.add-logo-box {width: 181px; background-color: #e1e1e1; border: solid 1px #b8b6b6; border-radius: 5px; min-height: 136px; margin-top: -8px; text-align: center; padding-top: 24px; margin-bottom: 15px; float: left; position: relative; }
.add-logo-box form {position: absolute; top: 0; }
.add-logo-box input {height: 135px; width: 180px; cursor: pointer; opacity: 0;position: absolute;top: 0;left: 0; }
.add-img-box {float: left; width: 180px; height: 136px; border: solid 1px #c2c2c2; margin-top: -8px; margin-left: 17px; border-radius: 5px; display: flex; align-items: center; }
.add-img-box img {max-width: 100px; margin: 0 auto; }
.add-logo-section {margin-left: 28px;}
.fild-stats-cont.contact-cont h2 {margin-bottom: 55px; }
.fild-stats-cont.Create-cont h2 {margin-bottom: 50px; }
.Create-btn-cont {width: 100%; float: left; display: block;margin-top: 30px;margin-bottom: 30px; }
.Create-btn-cont a {display: inline-block; border: solid 1px #bebebe; color: #eb1c24; margin-bottom: 32px; padding: 10px 30px; background-color: white; border-radius: 5px; font-family: 'Montserrat', sans-serif; font-weight: 600; text-transform: uppercase; }
.Create-btn-cont a:hover {background-color: #eb1c24; color: #fff; text-decoration: none; }
.add-plus-icon {float: right; position: absolute; width: 235px; right: 0; bottom: 120px; }
.add-plus-icon a {float: right; margin-right: 49px; margin-top: 17px; }
.add-plus-icon a,.add-office-btn .office-icon,.add-user-btn .user-icon {background-color: #eb1c24; width: 50px; height: 50px; display: inline-block; border-radius: 50px; text-align: center; padding: 12px; }
.add-section-btn a span {float: left; }
.add-section-btn a {background-color: transparent;width: auto; height: auto;}
.add-section-btn a {background-color: transparent; width: auto; height: auto; padding: 0; }
.add-section-btn a span.office-text, .add-section-btn a span.user-text {padding: 17px 17px 0 0; color: #000; }
.edit-profile-img {width: 150px; height: 150px; overflow: hidden; border-radius: 107px; border: solid 1px #d9d9d9; display: flex; align-items: center; flex-wrap: wrap; display: -webkit-flex; -webkit-align-items: center; -webkit-flex-wrap: wrap; display:-ms-flexbox; -ms-flex-align: center; -ms-flex-wrap: wrap; }
.edit-profile-img img {margin: 0 auto;}
.edit-profile-img img.hide-img {opacity: 0; position: absolute;}
.edit-profile-btn {cursor: pointer; width: 30px; height: 30px; overflow: hidden; background-color: #eb1c24; border-radius: 30px; position: absolute; right: -10px; bottom: 32px; }
.edit-profile-section {width: 150px; position: relative;margin-bottom: 35px; }
.edit-profile-btn i.fa.fa-pencil {position: absolute; top: 8px; left: 10px; color: #fff; pointer-events: none; }
.edit-profile-btn input[type="file"] { cursor: pointer;opacity: 0; height: 30px; width: 30px; }
.add-plus-upper {float: right; }
.zc-rel > div {display: none; }
table {border:solid 1px #d8d6d6; width: 100%; margin:50px 0 0; }
table tr {border-bottom: solid 1px #d8d6d6; }
table tr td,table tr th {padding: 10px; }
table tr:nth-child(even) {background-color: #e9e9e9; }
table tr th {width: auto; border-right: solid 1px #d8d6d6; }
table tr td:last-child {border-right: none;}
table tr td {border-right: solid 1px #d8d6d6; }
.generate-pdf-btn {float: right; padding-top: 0px; }
.date-from-to {float: right; margin-right: -70px; margin-top: 45px; }
.date-from-to ul {margin: 0; }
.date-from-to ul li {list-style-type: none; float: left; padding-left: 20px; position: relative; }
.date-from-to ul li strong {font-size: 1.3em; font-weight: 500; color: #565555; padding-right: 15px; }
span.date-icon {position: absolute; background-color: #eb1c24; width: 40px; height: 40px; top: 0px; right: 0px; color: #fff; font-size: 1.3em; text-align: center; padding-top: 8px; cursor: pointer; }
.date-from-to ul li input {z-index: 9; position: relative; background-color: transparent; height: 40px; width: 200px; }
.add-plus-icon .add-plus-upper:hover .add-section-btn {right: 0; opacity: 1; visibility: visible; top: 0; pointer-events:all; }
.add-section-btn {position: absolute; right: 0; opacity: 0; visibility: visible; transition: all 0.3s ease; top:126px; pointer-events: none; }
.add-user-btn .user-icon {width: 40px; height: 40px; margin-right: 6px; }
.department-list-cont .row {max-width: 1040px; margin: 0 auto; }
.department-list-cont .row .form-group {margin-bottom: 20px; }
.Add-depart-btn {width: 100%; display: inline-block; text-align: center; margin: 20px 0 7px; }
.Add-depart-btn button:hover,.chng-dlt-btn button:hover,.adit-btn button:hover,.Belfs-valus button:hover {background-color: #000; }
.Add-depart-btn button {background-color: #eb1c24; color: #fff; font-size: 0.85em; border: none; padding: 7px 20px; border-radius: 5px; font-weight: 600; font-family: 'Montserrat', sans-serif; }
.organization-fild {padding:30px 15px; }
.organization-section { margin-top: 21px;margin-bottom: 8px; width: 100%; display: flex;flex-wrap: wrap; display:-webkit-flex;-webkit-flex-wrap: wrap; display:-ms-flexbox; -ms-flex-wrap: wrap;}
.organization-section .col-md-6 {margin-bottom: 30px;}
.search-section input {width: 100%; background-color: #fff; border:solid 1px #b8b8b8; border-radius: 5px; padding: 0 22px; height:35px; font-size: 0.8em; font-family: 'Montserrat', sans-serif; font-weight: 600; letter-spacing: -0.5px; }
.search-section {width: 100%; }
.company-section {background-color: #fff; border: solid 1px #b8b8b8; border-radius: 5px; width: 100%; padding: 10px; min-height:152px; font-family: 'Montserrat', sans-serif; flex-wrap: wrap; display: flex; -webkit-flex-wrap: wrap; display:-webkit-flex; -ms-flex-wrap: wrap; display:-ms-flexbox; position: relative; height:100%; }
.manage-reports .company-section {min-height:172px; align-items: center; -webkit-align-items: center; -ms-flex-pack: center;margin-bottom: 30px;height: calc(100% - 30px);}
.company-category ul li span.category-number {font-weight: 800; }
.company-category ul li:first-child {padding-left: 0; }
.company-category ul li {list-style-type: none; float: left; border-right: solid 1px #c6c6c6; padding: 5px 21px 4px 18px; }
span.category-tital {font-size: 0.92em; font-weight: 500; font-family: 'Montserrat', sans-serif; line-height: normal; display: block; }
.company-category ul {padding: 0; display: flex; margin: 16px 0 0; }
.Create-btn-cont button[type=submit] {margin-left: 16px;}
.company-category ul li span.category-number {font-weight:500; font-family: 'Montserrat', sans-serif; font-size:1em; line-height: 0; /*display: block;*/padding-top: 14px; }
.company-category ul li:last-child {border: none; }
.company-detale h2 {font-family: 'Montserrat', sans-serif; font-size:1.331em; padding-top: 15px; position: relative; padding-bottom: 12px;color:#212529; }
.manage-reports .company-detale a img { max-width: 135px; max-height: 90px; margin: 0 auto; }
.company-logo {float: left; width: 36%; align-items: center; display: flex; justify-content: center; padding-right: 22px; -webkit-justify-content: center; -ms-flex-pack-justify: center; display: -webkit-flex; display: -ms-flexbox; }
.company-logo a img {max-width: 130px;max-height:90px;}
.company-detale {float: left; width:64%;} 
.manage-reports .company-detale {width:100%; text-align: center;position: relative; }
.company-ovel-text {position: absolute; background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; left: 0;     display: block;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out; cursor: pointer; }
	.company-section:hover .company-ovel-text {
		opacity: 1;
	}
	.company-ovel-text span {color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); text-transform: uppercase;display: inline-block;width: 100%;text-align: center; }
	.company-detale h2:after {background-color: #eb1c24; content: ""; height: 3px; width: 39px; left: 0; bottom: 0; position: absolute; }
	.manage-reports .company-detale h2:after {display: none;}
	.pagination {margin-top:0px; justify-content: center; margin-bottom: 0; }
	.pagination li.prev a,.pagination li.next a {text-indent: 35px; overflow: hidden; }
	.pagination li {margin: 0 7px; }
	.pagination li a {background-color: transparent; color: #7e7c7c; border: none; width: 35px; height: 35px; border-radius: 35px; display: inline-block; text-align: center; font-family: 'Montserrat', sans-serif; font-size: 1.25em; font-weight: 600; padding-top: 3px; line-height: 30px; }
	.pagination li.active a,.pagination li a:hover {background-color: #eb1c24; color: #fff; text-decoration: none; }
	.ragistration-section {background-color: #fff; display: inline-block; width: 100%; margin-bottom: 50px; padding:34px 40px 40px; position: relative; }
	.del-chng-cont {max-width: 100%; margin: 0 auto 20px; padding-top: 6px; display: flex; display:-webkit-flex; display: -ms-flexbox; align-items: center; -webkit-align-items: center; -ms-flex-align: center; padding-left:25.5%; }
	.rgist-compy-logo {padding-top: 8px; float: left; }
	.rgist-compy-logo img {max-width: 130px; max-height: 90px; }
	.chng-dlt-btn button.change, .chng-dlt-btn button.dlt {border: solid 1px #beb8b8; background-color: transparent; border-radius: 5px; padding: 7px 30px; font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 0.9em; min-width: 119px; }
	.adit-btn {position: absolute; right: 41px; top: 25px; }
	.error-section {display: flex; align-items: center; width: 100%; justify-content: center; height: calc(100vh - 149px); text-align: center; }
	.error-section h1 {font-weight: 700; font-size: 3em;}
	.sub a.btn {background-color: #eb1c24; color: #fff; }
	.dot .adit-btn {right: 71px; top: 70px; }
	.alert.alert-success {margin-top: 20px;}
	.adit-btn button {background-color: #eb1c24; border: none; border-radius: 5px; padding: 6px 40px 5px; color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1.09em; }
	.chng-dlt-btn button.change {color: #000; }
	.chng-dlt-btn button.dlt {clear: both; display: block; border: none; margin-top: 4px; color: #eb1c24; }
	.chng-dlt-btn {float: left; padding-left: 51px; }
	.ragistration-section h2,.dot-section h2 {font-family: 'Montserrat', sans-serif; font-size: 1.6em; font-weight: 700; margin-top: 0px; letter-spacing: -0.5px; position: relative; padding-bottom: 18px; }
	.ragistration-section h2:after,.dot-section h2:after,.team-role-map h1:after {content: ""; position: absolute; background-color: #eb1c24; height: 2px; width: 80px; bottom: 0; left: 3px; }
	.ragistration-section label {float: right; font-family: 'Montserrat', sans-serif; font-size: 1.1em; color: #766f6f; font-weight: 600; padding-top: 26px; padding-right: 10px; }
	.ragistration-section .col-md-9 input {border: solid 1px #b8b6b6; border-left: none; border-right: none; border-bottom: none; width: 100%; font-family: 'Montserrat', sans-serif; font-weight: 600; height: 76px; font-size: 1.1em; }
	.ragistration-section form {padding-top: 26px; }
	.ragistration-section form .row:nth-last-of-type(2) .col-md-9 input {border-bottom: solid 1px #b8b6b6; }
	.form-section .form-group {margin-bottom: 15px; }
	.dot-section .form-section {padding-top: 23px; }
	.dot-section .form-section label {width: 100%; font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1em; color: #747373; padding-bottom: 4px; }
	.dot-section .form-section .value-checkbox label {margin-bottom: 0;}
	.Belfs-valus .col-md-3 {padding-right: 45px; }
	.createfield {width: 100%;}
	.team-role-map h1 {font-size: 2.5em;position: relative; padding-bottom: 18px; }
	.dot-section .form-section input,.dot-section .form-section select,.dot-section textarea {border: solid 1px #a7a7a7; height: 44px; border-radius: 5px; width: 100%; padding: 0 15px; }
	.Belfs-valus .col-md-3 {padding-right: 45px; }
	.Belfs-valus .col-md-9 .form-group .row {margin-left: -25px; margin-right: -25px; }
	.Belfs-valus .col-md-9 .form-group .col-md-4 {padding-left: 25px; padding-right: 25px; margin-bottom: 20px; position: relative; }
	.Belfs-valus .col-md-9 .form-group .col-md-4 > button {position: absolute; border-radius: 82px; width: 25px; height: 25px; padding: 0; right: 14px; bottom: -10px; background-color:#eb1c2454;background-position: right center !important; }
	.Belfs-valus .col-md-9 .form-group .col-md-4 > button:hover {background-color: #000;}
	.dot-section {background-color: #fff; padding:34px 40px 40px; margin-bottom:60px;    display: block; float: left; width: 100%; } 
	.Belfs-valus button.belief {color: #fff; background-color: #eb1c24; border: none; font-size: 0.9em; font-family: 'Montserrat', sans-serif; font-weight: 600; padding: 5px 10px; border-radius: 5px; min-width: 115px; margin-top:-15px; float: left; }
	.Belfs-valus .col-md-9 .form-group .row button.belief {float: right; position: absolute; right: 25px; bottom:-32px; }
	.Belfs-valus .col-md-9 .form-group .row {position: relative; padding-bottom: 65px; }
	.evidence .form-group {position: relative; }
	.evidence .form-group input.checkOrgCount {width: calc(100% - 130px); margin-right: 20px; }
	.evidence .form-group input.checkOrgCount.hasDatepicker {width: 100%; }
	.edit-belief-btn {float: right;position: absolute;right: 0px;bottom: 41px;z-index:9;}
	.Belfs-valus form {position: relative;}
	.evidence-modal ul.value-checkbox li label {cursor: pointer;}
	.Belfs-valus-repeat .col-md-3 input.checkOrgCount {margin-bottom: 20px; }
	.Belfs-valus-repeat .col-md-9 button.evidence-btn {float: right; }
	.dot-section.Belfs-valus-section {padding: 0; background-color: transparent; }
	.Belfs-valus-repeat {padding: 34px 40px 0px; background-color: #fff; margin-bottom: 30px; }
	.dot-section.Belfs-valus-section .form-section {padding-top: 0;}
	.dot-section.Belfs-valus-section .form-section {padding-top: 0;}
	.organistiondetail-section {background-color: #fff; padding: 50px 50px 9px; display: inline-block; width: 100%; }
	.edit-box {padding-top: 15px;}
	.dot-section .Create-btn-cont {margin-left: 0; margin-bottom: 0; margin-top: 24px; width: 100%; float: left; }
	.detail-btn {float: right;}
	.profile-btn a:hover, .account-btn a:hover {color: #eb1c24; }
	.profile-btn, .account-btn {float: left; padding-right: 30px; }
	.detail-box {text-align: center; background-color: #e1e1e1; display: flex; align-items: center; display:-webkit-flex; -webkit-align-items: center; display:-ms-flexbox; -ms-flex-align: center; margin-bottom: 30px; border-radius: 8px; min-height: 172px; padding: 20px; }
	.detail-box span {font-size: 1.35em; text-align: center; width: 100%; font-weight: 300; }
	.detail-box h2 {font-size: 2em; font-weight: 800; color: #38383a; }
	.organistiondetail-box .col-md-4 {padding: 0 15px; }
	.organistiondetail-box {/* display: flex; flex-wrap: wrap; display:-webkit-flex; -webkit-flex-wrap: wrap; display:-ms-flexbox; -ms-flex-wrap: wrap; */     margin: 21px 0 0;width: 100%;display: inline-block; }
	.profile-btn a img, .account-btn a img {float: left; padding: 7px 6px 0 0; }
	.profile-btn a, .account-btn a {color: #363636; display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 1.3em; }
	.detail-btn .adit-btn {float: left; position: relative; right: 0; top: 0;padding-left: 23px;margin-bottom: 10px; }
	.detail-btn .adit-btn button {padding: 6px 8px 5px;}
	.detail-content {width: 100%;}
	.prof-acount-section .compy-logo img {max-width: 130px; max-height: 83px;margin-bottom: 10px;}
	.organistiondetail-box a {color: #212529;}
	.add-belief-here .row {position: relative;}
	button.removeBelief {margin-left: 16px; position: absolute; left: 19.8%; padding: 3px 8px; border-radius: 50px; top: 65px; background-color: #eb1c2454; }
	.organistiondetail-box a:hover .detail-box {background-color: #eb1c24;}
	.organistiondetail-box .col-md-4 a:hover,.organistiondetail-box .col-md-4 a:hover .detail-box h2 {color: #fff;}
	body .ui-widget-header {border: 1px solid #eb1c24;background: #eb1c24;color: #ffffff;font-weight: bold;}
	span.eay-icon {position: absolute; right: 30px; top: 31px; }
	footer {background-color: rgb(235, 28, 36); display: block; float: left; width: 100%; text-align: center; padding:7px 7px 8px 276px; z-index: 99; position: relative; }
	footer p {margin: 0; color: #fff; font-weight: 400; font-family: 'Montserrat', sans-serif; font-size: 0.9em; text-align: left; }
	#examples {overflow: hidden; }
	.ui-state-default, .ui-widget-content .ui-state-default {color:#30343d;}
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border: 1px solid #eb1c24; background: #eb1c24; color: #fff; }
	/*.message {position:absolute;right: 91px;bottom: 35px;font-weight: 500; background-color: #fff; padding: 8px 20px; box-shadow: 0px 0px 5px #c4bbbb; border-radius: 3px;z-index: 9; }*/
	.error-message span {color: #eb1c24;position:absolute;right: 0;bottom: 0;font-weight: 500; background-color: #fff; padding: 8px 20px; box-shadow: 0px 0px 5px #c4bbbb; border-radius: 3px;z-index: 9; }
	.success-message span {color: #249600;position:absolute;right: 91px;bottom: 35px;font-weight: 500; background-color: #fff; padding: 8px 20px; box-shadow: 0px 0px 5px #c4bbbb; border-radius: 3px;z-index: 9; }
	.dot-section .error-message {right: 16px;}
	.sild-menu footer {padding-left: 100px;}
	.view-coment .error-message {right:31px;}
	.content {overflow: auto; position: relative; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height:100vh; }
	.add-content .form-group input::-webkit-input-placeholder,.ragistration-section .col-md-9 input::-webkit-input-placeholder,input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#4b4747; }
	.add-content .form-group input::-moz-placeholder,.ragistration-section .col-md-9 input::-moz-placeholder,input::-moz-placeholder { /* Firefox 19+ */ color: #4b4747; }
	.add-content .form-group input:-ms-input-placeholder,.ragistration-section .col-md-9 input:-ms-input-placeholder,input:-ms-input-placeholder { /* IE 10+ */ color: #4b4747; }
	.add-content .form-group input:-moz-placeholder,.ragistration-section .col-md-9 input:-moz-placeholder,input:-moz-placeholder { /* Firefox 18- */ color: #4b4747; }
	.organization-fild.view-action {padding: 30px 30px;}
	.view-action .company-section {padding:20px 30px; display: inline-block; height: 100%;}
	.cmt-box {float: right; }
	button.btn-change {float: right; position: absolute; right: 44px; }
	.org-logo img {max-height: 65px; }
	.org-logo {width: 80px; float: none; position: absolute; left: 50%; margin: 0 auto; top: 50%; transform: translate(-50%, -50%); }
	.status select {height: 31px !important; padding: 0 13px; background-size: 12px !important; font-size: 0.9em; }
	.view-user {position: relative;padding-top: 4px; }
	span.status-tital {padding-top:4px; padding-right: 10px; }
	.status-box span.date {width: calc(100% - 115px); white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	.date-box .form-control {height: 29px !important; font-size: 13px; background-size: 13px !important; padding-top: 4px; }
	button.btn-change.Primary {background-color: #97d5a1;cursor: default;}
	button.btn-change.Secondary {background-color:#9ec9e1;cursor: default;}
	button.btn-change.Tertiary {background-color: #f5cdd1;cursor: default;}
	.view-user span.user-img {float: left; padding-top: 2px; }
	.view-user h2 {float: left; padding-left: 0; font-size: 1.331em; margin-left: 0; padding-top: 0; line-height: 1.5; }
	.company-section .comments-text p {font-size: 0.875em;margin-bottom: 0; }
	span.select-arrow {position: absolute; right: 51px; top: 18px; }
	.view-coment .status .status-tital {padding-right: 9px; }
	.status-box {border-top: solid 1px #cccccc; display: block; float: left; width: 100%; margin-top: 4px; padding: 16px 0 0; }
	span.date-tital,.status-tital {font-size: 1.1em; font-weight: 500; color: #7b7b7b; float: left; padding-top: 0px; }
	span.date,.view-status {font-size: 1.1em; float: left; padding-left: 6px; font-weight: 500; color: #38383a; }
	.date-box {float: left; width: 100%; padding-bottom: 8px; }
	.status {width: 100%; float: left; padding-top: 5px;padding-right: 20px; }
	.started {color:#f7941d;}
	.complete {color:#39b54a;}
	.not-started {color:#ed1c24;}
	.company-section strong.id-text {color: #eb1c24; }
	.view-action .organization-section .col-md-4 {margin-bottom: 30px; }
	.view-status {padding-left: 17px; position: relative; padding-top: 4px; }
	.view-status:before {position: absolute; left: 0px; width: 10px; height: 10px; content: ""; background-color: #000; display: block; border-radius: 15px; top:9px; }
	.view-status.complete:before {background-color:#39b54a;}
	.view-status.not-started:before {background-color:#ed1c24;}
	.view-status.started:before {background-color:#f7941d;}
	.view-action .organization-section .col-md-6 {margin-bottom: 30px;}
	.view-action .add-plus-icon a {margin-right: 15px;}
	.view-action .add-plus-icon {bottom: 94px;}
	.view-action .pagination {margin-bottom: 0;}
	.comments-text {width: 100%; float: left; }
	.view-coment .company-section {padding: 30px;}
	.view-coment .date-box ,.view-coment .status {padding-top: 0; padding-bottom: 10px; }
	.view-coment .date-box {padding-right: 25px;}
	/* .view-coment .view-status:before {left:12px;} */
	.view-coment span.status-tital {padding-top: 0;padding-right: 0;}
	.view-coment .status span.status-tital {padding-top: 4px; }
	.date-box .toltip-section span.hide-text {font-size: 1.1em; float: left; padding-left: 6px; font-weight: 500; color: #38383a; }
	.view-coment .view-status {padding-left: 15px;}
	.view-coment .view-user {float: left; width: 100%; }
	.view-coment .company-section .date-time span {font-size: 0.9em; line-height: 1.8; padding-left: 21px; font-weight: 500; color: #38383a; position: relative; }
	.view-coment .company-section .date-time span.date:after {content: ""; position: absolute; background-color: #655858; width: 2px; height: 10px; right: -12px; top: 7px; }
	.view-coment .view-coment .date-time {float: right; }
	.row.add-office-row {position: relative; }
	button.remove {position: absolute; right: 42px; top: 40px; z-index: 9; }
	button.delete-user {position: absolute; right: 15px; border-radius: 30px; width: 30px; height: 30px; padding: 0; top: -17px; font-size: 1.2em; line-height: normal; z-index: 9; }
	.createfield .add-content {position: relative; }
	ul.value-checkbox li input[type="checkbox"] {float: left; }
	ul.value-checkbox {padding-left: 11px; margin: 0 -10px; display: flex; flex-wrap: wrap; display:-webkit-flex; -webkit-flex-wrap: wrap; display:-ms-flexbox; -ms-flex-wrap: wrap; }
	ul.value-checkbox li {float: left; list-style-type: none; padding:0 10px 25px; position: relative; }
	ul.value-checkbox li label {width: auto !important; float: left !important; padding-left: 0; border: solid 1px #d6d3d3; border-radius: 3px; padding: 6px 15px !important; }
	.value-checkbox input {position: absolute; width: 100% !important; height: 37px !important; opacity: 0; }
	ul.value-checkbox li.active label {background-color: #eaeaea; }
	.toggleOpen .col-md-12 {height:120px; overflow: hidden; transition: all 0.5s ease;}
	.toggleOpen .col-md-12.open {height: auto; }
	.dot .dot-section {margin-bottom: 30px;}
	.coment-list .comments-text {position: relative;}
	.comments-text .date-time {float: right; }
	.conment-serch h2 {margin-bottom: 0; margin-top: 28px; text-transform: none; font-size: 2em; }
	.organistiondetail-section h2 {margin-left: 0; margin-bottom: 20px; }
	.organization-section.coment-list {margin-top: 15px; }
	.conment-serch input {width: 100%; border-radius: 5px; background-color: #f2f2f2; }
	.conment-serch button.btn {position: absolute; right: 15px; top: 0; height: 44px; width: 90px; text-transform: uppercase; border-top-left-radius: 0; border-bottom-left-radius: 0; }
	.comments-box {width: 100%;padding-bottom: 30px;}
	.date-time {position: absolute; right: 48px; margin-top: 0px; }
	.toggleOpen .col-md-12 button.down {float: right; background: url(../images/Drop_Down.png)no-repeat center center; overflow: hidden; text-indent: 86px; width: 30px; border:solid 1px #b3afaf; margin-right: 10px;}
	.toggleOpen .col-md-12.open button.down {float: right; background: url(../images/Drop_up.png)no-repeat center center; }
	.editable form button {text-indent: 0; padding: 5px 20px; font-weight: 100; font-size: 1em; }
	.editable form button:before {font-size: 1em; content: "\f014"; font-family: 'FontAwesome'; }
	.editable {float: right; }
	.editable a {margin-left: 10px;}
	.editable form {padding-top: 0; margin-left: 10px; float: left; }
	.editable a {float: left; }
	.evidence-list h4 {margin-top: 25px; }
	.evidence-img {float: left; width: 25%; border-right: solid 1px #8e8b8b; display: flex; align-items: center; display:-webkit-flex; -webkit-align-items: center; display:-ms-flexbox; -ms-flex-align: center; height: 100%; padding: 25px; }
	.evidence-content {float: left; width: 75%; padding: 30px; }
	.evidence-list-box {border: solid 1px #8e8b8b; display: flex; flex-wrap: wrap; display:-webkit-flex; -webkit-flex-wrap: wrap; display:-ms-flex; -ms-flex-wrap: wrap; margin-bottom: 30px; height: calc(100% - 30px); align-items: center; -webkit-align-items: center; -ms-flex-align:center; }
	.evidence-content p {margin-bottom: 5px; color: #6d6b6b; }
	.evidence-modal ul.value-checkbox li {padding: 0 15px 9px 0; }
	.evidence-modal .toggleOpen .col-md-12 {height: auto;padding: 0;}
	.evidence-modal input#searchKey {float: right; width: 200px; height: 35px; }
	.evidence-modal label {float: left; padding-top: 7px; }
	.evidence-modal .row.toggleOpen {width: 100%;margin:0; }
	.evidence-modal ul.value-checkbox li a {color: #6d6b6b; }
	.evidence-modal .ragistration-detele.add-fild-section {padding: 0;}
	.evidence-modal ul.value-checkbox.add-search-values-data {margin-top: 30px;}
	.evidence-modal .modal-header {padding: 0; border-bottom: none; margin: 17px 17px 0; }
	.evidence-modal .modal-header button.close {padding: 0; width: 30px; height: 30px; border-radius: 30px; }
	p.dat-time {font-weight: 500; }
	.comments-text:after {content: ""; position: absolute; left: 0; right: 0; width: calc(100% - 70px); background-color: #c1bfbf; bottom: 0; height: 1px; margin: 0 auto;display: none; }
	.dot-action.fild-stats-cont.contact-cont h2 {margin-bottom: 30px;}
	.description textarea.form-control {width: calc(100% - 50px);margin: 0 25px;height: 110px;padding: 10px 25px;}
	.fild-stats-cont.dot-action {padding-bottom: 0; margin-bottom: 90px;}
	.add-fild-section.dot {position: relative;}
	.error-message {position: fixed; right: 27px; z-index: 99999999;width: 100%; bottom:50px; }
	.menual_fun_lens_tabs {margin: 20px 0; }
	.cot_inner_pages ul.nav.nav-tabs li {margin: 0; }
	.functional-lens .menual_fun_lens_tabs {margin: 20px 0; }
	.functional-lens ul.nav.nav-tabs li {margin: 0; border-bottom: none;padding: 0; }
	.functional-lens .editable button {padding: 4px 15px;}
	.functional-lens ul.nav.nav-tabs li a {display: inline-block; padding:13px 20px 10px; margin-bottom: 0; border-bottom: 3px solid transparent; }
	.functional-lens ul.nav.nav-tabs li a.active {border-bottom: 3px solid #eb1c24; }
	.functional-lens .menual_fun_lens_wrap table tr td input[type="text"]:focus {border: none; outline: none; }
	.cot-functional .nav-tabs li:first-child {margin-left: 0; }
	.cot-functional .nav-tabs li:last-child {margin-right: 0; }
	.dot-belief-value ul {
		list-style-type: none;
		padding: 0;
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		display:-webkit-flex;
		-webkit-flex-wrap: wrap;
		display:-ms-flexbox;
		-ms-flex-wrap: wrap;
	}
	.dot-belief-value ul li {
		display: inline-block;
		width: calc(33.33% - 30px);
		margin: 15px;
		text-align: center;
	}
	.dot-belief {
		width: 140px;
		border: 2px solid #eb1c24;
		border-top-left-radius: 12px;
		border-bottom: 8px solid #eb1c24;
		border-top-right-radius: 12px;
		padding: 2px 15px;
		margin-bottom: 20px;
		text-align: center;
	}
	.dot-value-inner {
		background-color: #f2f2f2;
		width: 140px;
		padding: 16px 0 0;
		border-radius: 10px;
		height: auto;
		margin-bottom: 20px;
		text-align: center;
	}

	.dot-value-inner h4 {
		font-size: 1em;
		text-transform: capitalize;
		padding: 0 0 15px 0;
		margin-bottom: 0;
		margin-top: 0;
		font-weight: 500;
	}
	.dot-belief strong,.dot-value-inner strong {
		/*  color: #008000; */
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 600;
	}
	.dot-belief-value {
		overflow: auto;
		width: 100%;
	}
	.dot-belief-value table {
		border: none;
		margin-top: 0;
	}
	.dot-belief.lightgreen_bg {
		border-color: #ff454b;
	}

	.dot-value-inner.lightgreen_bg strong {
		background-color:#ff454b;
	}
	
	.dot-belief.orange_bg {
		border-color:#ffa3a6;
	}

	.dot-value-inner.orange_bg strong {
		background-color: #ffa3a6;
	}

	.dot-belief.yellow_bg {
		border-color: #ff8085;
	}

	.dot-value-inner.yellow_bg strong {
		background-color: #ff8085;
	}

	.dot-belief.red_bg {
		border-color:#b2b2b2;
	}

	.dot-value-inner.red_bg strong {
		background-color: #b2b2b2;
	}

	.dot-belief.green_bg {
		border-color: #eb1c24;
	}

	.dot-value-inner.green_bg strong {
		background-color:#eb1c24;
	}
	.dot-belief-value table tr td {
		border: none;
		vertical-align: text-top;
	}
	.dot-value-inner strong {
		color: #fff;
		background-color: #008000;
		display: block;
		width: 100%;
		padding: 12px 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		font-size: 1em;
	}
	.dot-belief h3 {
		font-size: 1em;
		text-transform: uppercase;
		border-bottom: 2px solid #afafaf;
		padding: 0 0 15px 0;
		margin-top: 6px;
		margin-bottom: 15px;
	}
	.dot-belief strong {
		padding-bottom: 14px;
		display: block;
		font-size: 1em;
	}
	/******************* cot ************************/
	.parent-search-cot {display: inline-block; width: 100%;}
	.team-role-map {margin: 20px 0 90px; } 
	.team-map-box {background-color: #e1e1e1; max-width: 265px; padding: 30px 30px 30px; text-align: center; border-radius: 10px; margin: 0 auto;height: 100%;}
	.team-map-box img {margin: 0 auto; }
	.team-role-map .col-md-6 {justify-content: center; }
	.team-map-box h4 {margin: 15px 0 0; color: #5d5959; }
	.cot-tab {margin-top: 25px; display: inline-block; width: 100%; padding-bottom: 38px; }
	.cot-tab h2 {margin-bottom: 20px; }
	.nav-tabs li {border: solid 1px #b7b3b3; margin: 0 10px; padding: 7px 24px; min-width: 172px; border-radius: 5px; float: none; display: inline-block; }
	ul.nav.nav-tabs {max-width: 100%; margin: 0 auto; border-bottom: none; display: inline-block; width: 100%; text-align: center; }
	.nav-tabs li img {float: left; display: inline-block; max-width: 31px; }
	.nav-tabs li span {float: left; display: inline-block; text-transform: uppercase; color: #655c5c; margin: 5px 0 0 10px; }
	.nav-tabs li a {display: flex; align-items:  center; justify-content: center; }
	.nav-tabs li:last-child {float: none; }
	.cot-tab-detail-section.tab-content {display: inline-block; width: 100%; margin: 40px 0; border: solid 1px #c7c6c6; padding: 20px; }
	.individual-cate .cate-left {width:30%; float: left; }
	.individual-cate .cate-left h4 {font-size: 1.3em; position: relative; padding-bottom: 6px; margin-bottom: 17px; margin-top: 0; }
	.search-cot select,.search-cot input {width: calc(18% - 12px); margin-right: 10px; border-radius: 4px; padding: 0 10px;}
	.search-cot select {background: url(../images/drop-down-arrow-1.png)no-repeat 95% center; background-size: 15px;}
	.report-belief .search-cot button {width: auto; }
	.search-cot button {width: 8.5%; height: 44px; display: inline-block; }
	.sot-results .search-cot button {width: auto; }
	.individual-cate .cate-left h4:after {content: ""; position: absolute; left: 0; width: 57px; height: 2px; background-color: #eb1c24; bottom: 0; }
	.cate-left span {border: solid 2px #272525; display: block; padding: 12px 20px; border-radius: 3px;height: 48px; }
	.cate-left span:last-child {border: none; background-color: #e6e6e6; }
.plan-view,.do-view {position: relative; /* margin-bottom: 81px;*/ }
.lens_tbl table tr td select, .lens_tbl table tr td input {border: solid 1px #bbb7b7 !important; padding: 0 10px !important; height: 32px !important; width: 50px !important; }
.lens_tbl table tr td select:disabled, .lens_tbl table tr td input:disabled {border: none !important; padding: 0 !important; }
.plan-view:after,.do-view:after {background: url(http://production.chetaru.co.uk/tribe365/public/images/plan-arrow.png)no-repeat left top; content: ""; position: absolute; height: 40px; width: 45px; left: 24px; bottom: -39px; }
.do-view:after {background: url(http://production.chetaru.co.uk/tribe365/public/images/do-arrow.png)no-repeat left top;}
.view-content-section {padding-left: 42px; position: relative; background: url(http://production.chetaru.co.uk/tribe365/public/images/left-arrow-border.png)no-repeat left center; background-size: contain; }
.prof-acount-section .search-cot select {border: solid 1px #a7a7a7; height: 44px; border-radius: 5px; width: auto; padding: 0 15px; }
.prof-acount-section .search-cot a {float: left; padding: 0; }
.functional-lens input:focus {outline: none; }
.Fun_lens_date_edit img.ui-datepicker-trigger {float: left; padding-top: 4px; }
.Fun_lens_date_edit input#fun_start_date {float: left; border: none; font-style: normal; font-size: 1.1em; width: 114px; padding-right: 0; }
.loader-img {position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); }
.prof-acount-section .search-cot > a {float: left; margin: 4px 0 0 0px; padding: 0; }
.prof-acount-section .search-cot a.back-button { float: right;
	padding: 0 14px 0 0;}
	.cate-right {float: right; padding-top: 44px;width: 70%; padding-left: 50px;display: flex;
		overflow: auto; }
		.cate-user-section {float: left; padding-right: 15px; }
		.individual-cate {margin-bottom: 20px; display: flex; width: 100%; }
		.cate-repeat {display: block; float: left; overflow: auto; display: flex; }
		.cate-right span {display: block; width: 63px; height: 48px; text-align: center; border: solid 1px #888787; line-height: 51px; margin:0 auto 1px; }
		.cate-right h5 {font-size: 1em; margin-bottom: 15px; margin-top: -29px; text-align: center; width: 45px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.cat-left-tital {margin-bottom: 45px; }
		.cate-user-tital {margin-bottom: 99px; }
		.Belfs-valus-section .col-md-8 .col-md-4 {margin-bottom: 45px; }
		.green {background-color: #69a754; color: #fff; }
		.orange {background-color: #fe9808; color: #fff; }
		.yallow {background-color: #fffe01; color: #000; }
		.blue {background-color: #0000fe; color: #fff; }
		.black {background-color: #000000;color: #fff; }
		.belif-value {display: inline-block; width: 100%; }
		span[class="1"] {background-color: #69a754; color: #fff; }
		span[class="2"] {background-color: #fffe01; color: #000; }
		span[class="3"] {background-color: #0000fe; color: #fff; }
		span[class="4"] {background-color: #fe9808; color: #fff; }
		span[class="5"] {background-color: #fe0000; color: #fff; }
		span[class="6"] {background-color: #fff; color: #fff; }
		span[class="7"] {background-color: #fff; color: #fff; }
		span[class="8"] {background-color: #fff; color: #fff; }

		.scrol-class tr td, .scrol-class tr th {border: none; }
		.scrol-class table {border: none; }
		.scrol-class input.numberControl {width: 28px; padding: 0; border: none; background-color: transparent; height: 20px; }
		.scrol-class tr td select {
			width: 51px !important;
			height: 24px;
			padding: 0;
			border: none;
			background-color: transparent;
		}
		.belif-value label {font-weight: 600; border: solid 1px #cdcdcd; padding: 5px 20px; }
		.belif-value .form-group {
			text-align: center;
		}
		.tab-pane canvas {margin: 40px 0 0; }
		.sot-value {margin: 0px -15px; }
		.tab-pane .search-cot button {width: auto;}
		.tab-pane .cate-user-tital {margin-top: 11px;}
		.key-box a {display: inline-block; /*width:16%;*/ border-radius: 0; border: solid 1px #888; }
		.red {background-color:#fe0000; color: #fff; }
		.view-content-section table {width: 100%; border-collapse: collapse;}
		.view-content-section table tr th {color: #fff; position:relative;text-align: center; padding: 10px 20px; font-size: 1.4em;}
		.view-content-section table tr th span.count {position: absolute; top: -30px; left: 0; width: 100%; text-align: center; }
		.view-content-section table tr td:first-child {text-transform: uppercase;text-align: left;width: 340px; }
		.view-content-section table tr th:first-child {text-align: left;}
		.view-content-section table tr td {text-align: center; font-size: 1.2em;padding: 10px 20px;background-color: #e9e9e9; }
		.team-content .individual-cate .cate-left {width: calc(40% - 100px); float: left; margin-right: 100px; }
		.cate-repeat .cate-right {float: left; padding-left: 20px; }
		.key-box {display: inline-block; width: 100%; }
		.key-box span {cursor: initial !important; }
		.individual-cate.key-value {
			flex-wrap: wrap;
		}
		.Reports-tital .tab-pane .cate-right {padding-left: 0;}
		.Reports-tital .tab-pane .team-content .individual-cate .cate-left {margin-right: 30px;}
		.Reports-tital .tab-pane .cate-right span:last-child {
			border: none;
			background-color: #e6e6e6;
		}
		.Reports-tital .tab-pane .cate-right span {
			border: solid 2px #272525;
			font-weight: 600;
			width: 80px;
			margin-bottom: 0;
		}
		.Reports-tital {
			background-color: #fff;
			padding: 40px 40px 70px;
			width: 100%;
			clear: both;
			display: inline-block;
			margin-bottom: -8px;
		}
		.cot-functional ul.nav.nav-tabs {text-align: left;}

		.Reports-tital .search-cot {
			margin-bottom: 40px;
			float: left;
		}

		.Reports-tital h2 {
			float: left;
		}

		.Reports .Belfs-valus-repeat {
			/* float: left; */
			clear: both;
		}

		.Reports-tital .search-cot a {
			float: left;
			padding: 4px 14px 0 0;
		}

		.Reports-tital .search-cot select,.prof-acount-section .search-cot select {
			float: left;
			width: auto;
			height: 44px;
			margin-top: 0px;
			padding-right: 50px;
			color: #8c8c8c;
			font-size: 1em;
			background: url(../images/drop-down-arrow.png)no-repeat 93% center;
			background-size: 13px;
		}
		.cot-tab-section .tab-content {
			margin-top: 60px;
		}

		.cot-tab-section .organistiondetail-section {
			padding: 0;
		}

		.cot-tab-section #cot1 .search-cot {
			float: left;
			width: 100%;
			padding-bottom: 30px;
			padding-top: 0;
		}
		.report-belief .compy-logo h5 {
			padding-left: 10px;
		}
		.cot-tab-section .search-cot .Fun_lens_date {
			padding-left: 0;
		}

		.cot-tab-section .ragistration-section {
			padding: 0;
		}
		.Belfs-valus-repeat  label {
			border: solid 1px #cacaca;
			width: auto !important;
			padding: 7px 10px !important;
			border-radius: 2px;
			color: #000 !important;
			margin-bottom: 20px;
			font-size: 0.9em !important;
		}
		.Belfs-valus-repeat > .row {
			-webkit-flex-wrap: nowrap;
			-moz-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
    /*-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;*/
}
.Belfs-valus-repeat .col-md-4 {
	width: auto;
    /*flex: 0 0 auto;
    max-width: inherit; */
    max-width: 25%;
    padding: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
td.value-tital {
	background-color: #e9e9e9;
	position: relative;
}

.value-list table tr {
	background-color: transparent;
}

td.value-tital a {
	position: absolute;
	right: 15px;
	top: 5px;
}
.prof-acount-section .search-cot select {margin-top: 0; margin-left: 13px;}
.prof-acount-section .search-cot {float: right;    padding-top: 37px;} 
.prof-acount-section .search-cot button {height: 38px; margin-left: 12px; }

img.view-list {
	float: right;
}
img.view-list {
	float: right;
}
img.view-list {
	float: right;
}

.report-belief .compy-logo {
	float: left;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 18px;
}

.report-belief .compy-logo img {
	float: left;
}

.report-belief .compy-logo h2 {
	float: left;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-left: 10px;
}

.report-belief .compy-logo h2:after {
	display: none;
}

.report-belief .compy-logo:after {
	background-color: #ee192f;
	content: "";
	position: absolute;
	width: 90px;
	height: 2px;
	bottom: 0;
}
.sot-results .ragistration-section {
	padding: 0;
	margin-bottom: 0;
}

.sot-results .organistiondetail-section {
	padding: 10px 40px 9px;
}

.sot-results .ragistration-section h2 {
	float: left;
}

.sot-results .ragistration-section .search-cot {
	float: right;
	padding-top: 24px;
}



.sot-value-inner {
	border: solid 1px #a5a3a3;
	border-radius: 4px;
	text-align: center;
}

.sot-value-inner .heading-text h2 {
	font-size: 1.4em;
	text-transform: uppercase;
	margin: 0;
	background-color: #eb1c24;
	padding: 0;
	color: #fff;
}

.sot-value-text {
	padding: 34px 20px;
}

.sot-value-text strong {
	font-size: 1.5em;
}

.row.sot-content {
	margin-top: 40px;
	border: solid 1px #a5a3a3;
	border-radius: 4px;
	margin: 30px 0;
}

.row.sot-content .col-md-3 {
	border-right: solid 1px #a5a3a3;
	text-align: center;
	padding: 30px 20px;
}

.row.sot-content .col-md-9 {
	padding: 30px 0;
}

.row.sot-content .col-md-9 ul li {
	font-size: 1em;
	padding-bottom: 5px;
}
.sot-value-inner .heading-text.blue-color h2 {
	background-color:#eb1c24;
}
.sot-value-inner .heading-text.yallow-color h2 {
	background-color:#eb1c24;
}
.sot-value-inner .heading-text.green-color h2 {
	background-color:#eb1c24;
}
td.sot-img-eadit {width:359px; vertical-align: middle !important;}
button.sot-text-eadit {position: absolute; right: 10px; top: 10px; }
.sot-tital {width: 185px; text-align: center; vertical-align: middle !important; background-color: #f4cccc; }
.sot-change-img:nth-child(3) .sot-tital {background-color: #cfe2f3; }
.sot-change-img:nth-child(4) .sot-tital {background-color: #fce5cd; }
.sot-change-img:nth-child(5) .sot-tital {background-color: #d9ead3; }
.sot-tital strong {color: #000; }
/**************************/

button.submit-btn.btn {position: absolute; margin-top: 30px; background-color: #fff; border: 1px solid #ced4da; text-transform: uppercase; color: #eb1c24; width: 129px; height: 44px; font-weight: 600; padding: 11px; }
button.submit-btn.btn:hover {background-color: #eb1c24; color: #fff;}
body .ui-datepicker {padding: 0;}
table.ui-datepicker-calendar tr th:first-child {width: auto;}
body .ui-datepicker td {padding: 0;}
body .ui-state-default, 
body .ui-widget-content .ui-state-default, 
body .ui-widget-header .ui-state-default {color:#424242; }
body .ui-state-highlight, 
body .ui-widget-content .ui-state-highlight, 
body .ui-widget-header .ui-state-highlight {border: 1px solid #eb1c24; background: #eb1c24; color: #ffffff; }
.underrepresented{color: white!important;background-color: red!important;}
.overrepresented{color: white!important;background-color: black!important;}
.none{color: black!important;	background-color: white!important;}
.search-cot{margin-bottom: 20px;}
.prof-acount-section .search-cot > div {
	float: left;
}
.Fun_lens_date {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	padding-left: 30px;
}
.Fun_lens_date h5 {
	display: inline-block;
	float: none;
	vertical-align: middle;
	margin: 0;
}
.Fun_lens_date .Fun_lens_date_edit {
	display: inline-block;
	vertical-align: middle;
	margin-left: 54px;
	position: relative;
}
.Fun_lens_date .Fun_lens_date_edit input[type="text"] {
	height: 30px;
	margin: 0;
	width: 186px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
	padding: 0 30px 0 7px;
	border-color: #f2f2f2;
	border-radius: 4px;
}
.Fun_lens_date_edit button.editbtn {
	background: none;
	width: 29px;
	padding: 0;
	color: #888888;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.3em;
}
.cot_inner_pages .compy-logo h5 {
	margin: 0 0 0 0;
	padding: 0 0 18px 0;
}
.cot_inner_pages .compy-logo {
	margin-bottom: 16px;
	padding-bottom: 10px;
}
.cot_inner_pages .search-cot {
	padding-top: 0;
}
.lens_tbl table tr th:first-child, .lens_tbl table tr td:first-child, .lens_tbl table tr th:nth-child(2), .lens_tbl table tr td:nth-child(2) {
	width: 15%;
	padding: 10px 3%;
}
.lens_tbl table tr th:nth-child(3), .lens_tbl table tr td:nth-child(3) {
	width: 30%;
}
.lens_tbl table tr td, .lens_tbl table tr td select, .lens_tbl table tr td input, .cot_inner_pages tr td select, .cot_inner_pages tr td input{
	color: #8c8c8c;
	font-weight: 500;
}
.lens_tbl table tr td, .cot_inner_pages tr td {
	color: #8c8c8c;
	font-weight: 500;
}
.lens_tbl table tr th{
	font-weight: 500;
}
.lens_tbl table tr td {
	padding-top: 4px;
	padding-bottom: 4px;
}
.cot_inner_pages .prof-acount-section {
	width: 100%;
	float: left;
}
.cot_inner_pages .value-list {
	width: 100%;
	float: left;
	overflow: auto;
}
.cot_inner_pages .value-list table tr th {
	vertical-align: top;
}
.sot-img-change img {margin: 0 auto; }
.sot-change-img .editable {position: absolute; right: 12px; top: 12px; }
.menual_fun_lens_wrap table .sot-change-img td {position: relative; padding: 20px !important; }
.sot-change-img input[type="file"] {border: none; padding: 0; }
.sot-change-img .editbtn {display: block !important;}
.sot-change-img #imgForm {display: none;}

.sot-list-detail span {padding:10px 15px;}
.cot_inner_pages .value-list table {
	margin: 0;
}
.menual_fun_lens_tabs h5 {
	margin: 0;
	padding: 0 20px;
}
.menual_fun_lens_wrap .nav {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 2px 6px rgba(0,0,0,.2);
	margin-bottom: 15px !important;
}
.menual_fun_lens_wrap .nav li {
	margin: 0 20px;
	padding: 10px 38px;
	border: none;
	border-bottom: 3px solid transparent;
	border-radius: 0;
}
.menual_fun_lens_wrap .nav li.active {
	border-color: #fdaeb1;
}
.menual_fun_lens_wrap .nav li a {
	margin-bottom: 0;
	padding: 0;
	color: #212529;
	font-size: 20px;
}
.menual_fun_lens_wrap table tr td {
	padding: 8px 14px !important;
	vertical-align: top;
}
.menual_fun_lens_wrap table tr td  input[type="text"] {
	background: none;
	border: none;
	height: auto;
	padding: 0;
	width: 100%;
	text-overflow: ellipsis;
}
.menual_fun_lens_wrap table tr td li span {
	color: #8c8c8c !important;
}
.edit_lense_sec ul li {
	padding: 4px 15px;
	border-bottom: 1px solid #dadada;
	height: 47px !important;
	font-weight: 600;
}
.edit_lense_sec ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.edit_lense_sec form {
	width: 100%;
	float: left;
	padding: 0;
}
.edit_lense_sec ul li input[type="text"] {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	height: auto;
}
.edit_lense_sec ul li input[type="text"] {
	color: #8c8c8c;
	font-weight: 600;
	width: 100%;
}
.edit_lense_sec ul li:last-child {
	width: 199px !important;
}
.edit_lense_sec ul li:first-child {
	width: calc(100% - 200px) !important;
}
.edit_lense_sec ul li:last-child > div > * {
	margin: 0 10px 0 0;
	float: left;
}
.edit_lense_sec ul li:last-child .editable {
	width: 100%;
}
.edit_lense_sec ul li input[type="text"]:focus{
	outline: none;
}
.edit_lense_sec ul li input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #8c8c8c;
}
.edit_lense_sec ul li input[type="text"]::-moz-placeholder { /* Firefox 19+ */
	color: #8c8c8c;
}
.edit_lense_sec ul li input[type="text"]:-ms-input-placeholder { /* IE 10+ */
	color: #8c8c8c;
}
.edit_lense_sec ul li input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: #8c8c8c;
}
.edit_lense_sec .value-list > ul:first-child li {
	height: auto !important;
}
tr.grey-css td {
	background: #e9e9e9;
}
ul.grey-css {
	background: #e9e9e9;
}
.Belfs-valus-repeat .col-md-4 .form-group .col-md-12 {
	padding: 0 2px;
}
.Belfs-valus-repeat .col-md-4 > .row {
	display: block !important;
	margin: 0;
}
.Belfs-valus-repeat .col-md-4 > .row .col-md-12 {
	padding: 0 30px;
}
.belif-value .col-md-4 {

	width: auto;
	flex: 0 0 auto;
	max-width: inherit;
	max-width: 25%;
	padding: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;

}
.info-icon { float: right; }
.delete-icon { float: right; padding-right: 10px;}
.Fun_lens_date.teamrole_row {
	padding: 0;
}
.Fun_lens_date.teamrole_row .search-cot {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
.squar_org_logo.org-logo img {
	max-height: 78px;
	width: 78px;
	height: 78px;
	object-fit: cover;
	max-width: 78px;
	border: 1px solid #eb1c24;
}
span.empty-data {
	padding: 10px;
	display: block;
	text-align: center;
	margin: 10px 0;
}
.image-sot {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-flex-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/**********************************/
.cot-functional .nav-tabs li {border: solid 1px #eb1c24; margin: 0 2px 8px; padding:0; box-shadow: 0px 5px 9px 0px rgba(29, 29, 29, 0.15); }
.cot-functional .nav-tabs li a {color: #eb1c24; font-size: 1.2em;padding: 12px 24px;border-radius: 5px; }
.nav-tabs li a.active.show,.nav-tabs li a:hover {background-color: #eb1c24;color: #fff;}
.cot-content {max-width: 1268px; margin: 0px auto; }
.cot-tab-section .Fun_lens_date {padding-left: 0; }
.cot-tab-section .prof-acount-section .search-cot select {margin-left: 0;}
.cot-tab-section .sot-value-inner .heading-text h2 {width: 100%; display: inline-block; float: none; }
.cot-inner-box {
	background-color: #ff8085;
	width: calc(25% - 20px);
	margin: 0 10px;
	padding: 15px 15px 30px;
	border-bottom-left-radius: 0;
	position: relative;
}

.cot-content-box {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
}

.cot-inner-box ul {
	margin: 0;
	padding: 0;
}

.cot-inner-box ul li {
	list-style-type: none;
	text-align: center;
	font-weight: 200;
	color: #fff;
	padding: 16px 0;
	background: url(../images/cot-b.png)no-repeat center bottom;
	margin-bottom: 10px;
}
.cot-inner-box:after {
	content: "";
	background-color: #ff8085;
	width: 100%;
	position: absolute;
	bottom: -12px;
	height: 27px;
	left: 0;
	border-radius: 80%;
}
.Shape_2_copy {
	border-width: 1px;
	border-color: rgb(184, 184, 184);
	border-style: solid;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(253, 169, 42);
	background-color: rgb(253, 169, 42);
	box-shadow: 0px 10px 9px 0px rgba(29, 29, 29, 0.39);
	position: absolute;
	left: 753px;
	top: 610px;
	width: 300px;
	height: 7px;
	z-index: 56;
}

.cot-inner-box ul li strong {
	font-size: 2em;
	font-weight: 600;
}
.cot-inner-box ul li span {
	font-size: 3em;
}
.cot-inner-box.yallow {background-color:#ff454b;}
.cot-inner-box.red {background-color:#ff8085;}
.cot-inner-box.light-red {background-color:#ff454b;}
.cot-inner-box.light-red:after{background-color:#ff454b;}
.cot-inner-box.red:after{background-color:#ff8085;}
.cot-inner-box.yallow:after{background-color:#ff454b;}
.cot-inner-box:before {content: ""; height: 20px; width: 77%; border-radius: 50%; bottom: -12px; position: absolute; box-shadow: 0px 10px 9px 0px rgba(29, 29, 29, 0.2); margin: 0 auto; left: 0; right: 0; }

.edit-org-btn {cursor: pointer; width: 30px; height: 30px; overflow: hidden; background-color: #eb1c24; border-radius: 30px; position: absolute; right: -10px; bottom: 32px; }
.edit-org-section {width: 150px; position: relative;margin-bottom: 35px; }
.edit-org-btn i.fa.fa-pencil {position: absolute; top: 8px; left: 10px; color: #fff; pointer-events: none; }
.edit-org-btn input[type="file"] { cursor: pointer;opacity: 0; height: 30px; width: 30px; }
.file-field input[type="file"] {
	display: none;
}

.add-catalog-content ul {
	margin: 0 0 20px;
	padding: 0;
}

.add-catalog-content ul li {
	list-style-type: none;
	border-bottom: solid 2px #e8e8e8;
	width: 100%;
	display: inline-block;
	padding: 28px 0 29px;
}

.add-catalog-content ul li .btn {
	float: left;
	background-color: #eb1c24;
	cursor: pointer;
	color: #fff;
	font-size: 1.27em;
	border: none;
	padding: 6px 29px 5px;
	border-radius: 5px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.3s ease-in-out;
	margin-top: -7px;
}

.add-catalog-content ul li p {
	float: left;
	padding-right: 31px;
	margin-bottom: 6px;
	font-size: 1.25em;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #525252;
}

.add-catalog-content ul li .file-field {
	float: left;
}

span.file-info {
	display: block;
	width: 100%;
	clear: both;
	color: #eb1c24;
	font-weight: 600;
	padding-left: 16px;
}
.dot-section {position: relative;}
.dot-section .adit-btn {
	top: 60px;
}

.dot-section .adit-btn button.btn {
	font-size: 1.2em;
	font-weight: 500;
}
.add-catalog-content ul li .file-field .browse-btn {
	margin-top: -6px;
	padding: 6px 29px 5px;
}
.add-catalog-section button.close:hover {
	opacity: 1;
	color: #fff;
	font-weight: 200;
	background-color: #000;
}
.add-catalog-content button.btn:hover {
	background-color: #000;
}
.add-catalog-section button.close {
	width: 25px;
	height: 25px;
	position: absolute;
	right: -7px;
	top: -7px;
	border-radius: 100%;
	background-color: #eb1c24;
	opacity: 1 !important;
	text-shadow: none;
	color: #fff;
}
.add-catalog-content ul li .btn:hover {background-color: #000;}
.add-catalog-section h4 {
	margin-top: 0;
	font-size: 1.8em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	position: relative;
	padding-bottom: 17px;
}
.forget-text1 span {
	float: left;
	padding: 6px 9px 0 0;
}

.forget-text1 img {
	float: left;
	max-width: 32px;
}

.add-catalog-section .modal-body {
	padding: 35px 39px;
}
.add-catalog-section .modal-dialog {max-width: 942px;}
.add-catalog-section .modal-content {border-radius: 10px;border: none;}
.add-catalog-section h4:after {
	content: "";
	position: absolute;
	left: 0;
	width: 82px;
	background-color: #eb1c24;
	height: 3px;
	bottom: 0;
}
.add-catalog-content {
	padding: 23px 39px 50px;
}
.add-catalog-content ul li:first-child {
	padding-top: 6px;
}
.add-catalog-content button.btn {
	float: left;
	background-color: #eb1c24;
	cursor: pointer;
	color: #fff;
	font-size: 1.27em;
	border: none;
	padding: 6px 29px 5px;
	border-radius: 5px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.3s ease-in-out;
	margin-top: 18px;
	margin-bottom: 13px;
}
.error-message-csv span {
	color: #eb1c24;
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: 500;
	background-color: #fff;
	padding: 8px 20px;
	box-shadow: 0px 0px 5px #c4bbbb;
	border-radius: 3px;
	z-index: 9;
}

.performance-option ul {
	padding: 0;
	margin: 0;
}

.performance-option ul li {
	float: left;
	list-style-type: none;
	padding-right: 29px;
}

.performance-option {
	width: 100%;
	display: inline-block;
	padding-left: 7px;
}

.performance-option ul li select {
	height: 45px;
	border-radius: 5px;
	width: 204px;
	border: none;
	padding: 0 15px;
	color: #000;
	font-weight: 500;
	background: #fff url(../images/option-icon.png) no-repeat 95% center;
	font-size: 1.15em;
}

.performance-list .performance-box {
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	height: 100%;
	box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.performance-text {
	padding: 15px 28px 60px;
}

.performance-list .col-md-3 {
	margin-bottom: 40px;
	padding: 0 20px;
}

.performance-text h2 {
	font-size: 3.2em;
	padding-top: 5px;
	position: relative;
	padding-bottom: 9px;
	margin-bottom: 9px;
	margin-left: 0;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

.performance-text h2:after {
	content: "";
	position: absolute;
	background-color: #eb1c24;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
}

.performance-text strong {
	font-size: 1.4em;
	font-weight: 500;
	padding-right: 33px;
	line-height: 1.25;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;

}

.performance-list .performance-box .notification {
	background-color: #eb1c24;
	width: 100%;
	display: block;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 1.28em;
	padding: 11px 7px 10px;
	font-weight: 400;
	bottom: 0;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
}
.performance {
	padding-right: 11px;
}
.performance-option button {
	height: 45px;
}
.performance-option input {
	height: 45px;
	border: solid 1px #fff;
	border-radius: 3px;
}
.performance-list .performance-box .notification:hover {background-color: #000;}
.performance-list {
	padding-top: 30px;
	padding-bottom: 50px;
}
.performance {
	padding-right: 9px;
}

.ui-datepicker .ui-datepicker-title select {
	height: 26px;
	border: solid 1px #f8b2b5;
	background-color: transparent;
	color: #fff;
	padding: 0 10px;
	background: url(../images/option-icon-d.png) no-repeat 93% center;
	line-height: 15px;
}

.ui-datepicker select.ui-datepicker-month {
	border-right: none;
	/* margin-right: 10px; */
}

.search-dia-question h2 {
	float: left;
}

.search-dia-question .diagnostic {
	float: right;
}

.search-dia-question {
	display: inline-block;
	width: 100%;
}

.search-dia-question button {
	padding: 11px 15px 10px;
	border: solid 1px #eb1c24;
	margin-left: 10px;
}

.improvement-list h2 {
	font-size: 1.8em;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #363636;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
	margin-left: 18px;
}

.improvement {
	background-color: #fff;
	padding: 30px;
}

.improvement .performance-option ul li select {
	border: solid 1px #d6d6d6;
}

.improvement .performance-option {
	padding-left: 0;
}

.improvement-list .row {
	padding-left: 2px;
	margin-bottom: 30px;
}

.improvement-list h2:after {
	content: "";
	position: absolute;
	background-color: #eb1c24;
	width: 78px;
	height: 2px;
	left: 0;
	bottom: 0;
}

.improvement-box {
	background-color: #fff;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
	border-radius: 5px;
}

.improvement-box h3 {
	background-color: #eb1c24;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 1.3;
	padding: 7px 0 7px 20px;
	font-family: 'Montserrat', sans-serif;
}

.improvement-box strong {
	text-align: center;
	display: block;
	font-size: 3em;
	line-height: 1.1;
	font-weight: 400;
	padding: 16px;
	color: black;
}

.improvement-list {
	margin-top: 7px;
}

.improvement-list .row .col-md-2 {
	flex: 0 0 20%;
	max-width: 20%;
}

.table-description {
/* 	background-color: #fff;
overflow: auto; */
max-width: 1600px;
}

.table-description table tr th {
	background-color: #eb1c24;
	padding: 11px 50px;
	color: #fff;
	font-size: 1.2em;
	border: none;
	white-space: nowrap;
	font-weight: 600;
	letter-spacing: 0.2px;
	font-family: 'Montserrat', sans-serif;
	min-width: 190px;
}

.table-description table {
	margin-top: 0;
	overflow-x: scroll;
	border-collapse: collapse;
	border: none;
	margin-bottom:30px;
	display: block;
}

.table-description table tr td {
	background-color: #fff;
	border: none;
	padding: 30px 0px 30px 50px;
	font-size: 1.2em;
	font-weight: 600;
	color: #000;
	line-height: 1.45;
	font-family: 'Montserrat', sans-serif;
	vertical-align: top;
}
.table-description table tr:first-child {
	border-bottom: none;
}

.table-description table tr td select {
	border: none;
	font-weight: 600;
	color: #000;
	height: auto;
	background: url(../images/option-icon.png) no-repeat 95% center;
}
.chat-link-section > table {
	margin-top: 0;
	border: none;
	background-color: #fff;
	max-width: 1600px;
	display: block;
	overflow: auto;
	margin-bottom: 35px;
}
.chat-link-section table tr td table {
	padding: 0;
	margin: 0;
	border: none;
}

.chat-link-section > table tr td {
	padding: 0;
}

.chat-link-section table tr td table tr td {
	padding: 17px 15px 15px 31px;
	border: none;
	font-size: 1.1em;
	font-weight: 600;
	color: #000;
	line-height: 1.45;
	font-family: 'Montserrat', sans-serif;
	vertical-align: top;
}
/* .chat-link-section table tr td {
	padding: 0;
	} */


	.chat-link-section table tr th {
		background-color: #eb1c24;
		color: #fff;
		white-space: nowrap;
		font-weight: 600;
		letter-spacing: 0.2px;
		font-family: 'Montserrat', sans-serif;
		min-width: 126px;
		border: none;
		font-size: 1.1em;
		padding: 15px 30px;
	}

	.chat-link-section table tr {
		background-color: transparent;
		border-bottom: none;
	}
	.chat-link-section .chat-button {border-top: solid 1px #c1c1c1; text-align: right;}
	.chat-button button {margin-left: 20px; }

	.chat-link-section table tr td img {
		max-height: 84px;
		width: auto;
	}
	.chat-box .messages {
		height: auto;
		min-height: calc(100% - 93px);
		max-height: calc(100% - 93px);
		/* overflow-y: scroll; */
		/* overflow-x: hidden; */
		display: inline-block;
		width: 100%;
		padding: 30px;
	}
	.chat-box .content {
		height: calc(100vh - 506px);
	}
	.chat-box .mCSB_scrollTools .mCSB_draggerRail {background-color: rgb(236, 81, 87);}
	.chat-box .messages ul li {
		display: inline-block;
		clear: both;
		float: left;
		margin: 9px 0;
		width: calc(100% - 50px);
		font-size: 0.9em;
	}
	.chat-box .messages ul li.sent .user-img {
		margin: 0px 8px 0 0;
	}
	.chat-box .messages ul li img {
	}
	.chat-box .messages ul li .comn-img {border-radius: 0;}
	.chat-box .messages ul li.sent p {
		max-width: calc(600px - 75px);
		float: left;
	}
	.chat-box .messages ul li.sent p span {
		background: #f2f2f2;
		color: #000;
		padding: 7px 15px;
		border-radius: 5px;
		margin-left: 15px;
		position: relative;
		border-bottom-left-radius: 0;
		display: block;
		position: relative;
		direction: initial;
	}
	.chat-box .messages ul li.sent a img {
		float: left;
	}
	.chat-box .messages ul li > img {
		max-width: 100px;
		max-height: 100px;
	}
	.chat-box .messages ul li a img {
		max-width: 100px;
		max-height: 100%;
	}
	.upld-chat-img {
		padding: 0 24px 0px;
	}
	.upld-chat-img img {padding-bottom: 10px;}

	.chat-box .messages ul li time {
		padding-left: 12px;
	}
	.chat-box .messages ul li.replies .user-img {
		float: right;
		margin: 0px 0 0 8px;
	}
	.chat-box .messages ul li.replies p {
		float: right;
		max-width: calc(600px - 25px);

	}

	.chat-box .messages ul li.replies p span {
		background: #ea1d24;
		color: #fff;
		padding: 7px 15px;
		border-radius: 5px;
		margin-right: 20px;
		border-bottom-right-radius: 0;
		display: block;
		position: relative;
		direction: initial;
	}
	.chat-box {
		background-color: #fff;
		margin:0 0 30px 0;
		padding: 0;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		direction: rtl;
	}
	.chat-box .messages ul li {transform:rotate(180deg);-webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); }

	.chat-box .messages ul li p {
		margin-top: 12px;
		position: relative;
		direction: ltr;
	}

	.chat-box .messages ul li .user-img {
		margin-top: 0;
		box-shadow: 0 4px 17px rgb(184, 195, 226);
		border: solid 1px #fff;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: left;
		overflow: hidden;
	}

	.chat-box .messages ul li.replies p span:after {
		content: "";
		position: absolute;
		right: -8px;
		width: 20px;
		height: 20px;
		bottom: 0;
		background: url(../images/r-icon.png)no-repeat right bottom;
	}
	.chat-box .messages ul li.sent p span:after {
		content: "";
		position: absolute;
		left: -19px;
		width: 20px;
		height: 20px;
		bottom: 0;
		background: url(../images/sent-icon.png)no-repeat right bottom;
	}

	.chat-form {
		background-color: #fff;
		border-radius: 5px;
	}

	.chat-form input[type="text"] {
		width: 100%;
		border: 0;
		height: 60px;
		border-radius: 5px;
	}

	.file-upload {
		position: absolute;
		right: 147px;
		top: 18px;
	}

	.chat-form form {
		position: relative;
	}

	.chat-form button {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #ea1d24;
		font-weight: 500;
		color: #fff;
		font-size: 1.5em;
		border: none;
		height: 60px;
		border-radius: 5px;
		width: 120px;
	}

	.file-upload i {
		font-size: 2.2em;
	}
	.select-mnth .multiselect-native-select .btn-group {padding: 6px;border-radius: 5px;}
	.select-mnth .multiselect-native-select .btn-group button.multiselect {font-size: 1em; color: #495057;    background: url(http://production.chetaru.co.uk/tribe365/public/images/select-arrow.png) no-repeat 99% 13px; }
	.file-upload input[type="file"] {position: absolute; width: 20px !important; top: -7px; font-size: 10px; left: -8px; opacity: 0; }
	.chat-section.chat-link-section > table {
		max-width: 100%;
		display:block;
	}
	select#theme {
		display: none;
		/* position: absolute; */
		opacity: 0;
	}

	.multiselect-native-select .btn-group {
		width: 100%;
		flex-wrap: wrap;
		border: solid 1px #c3c3c3;
		padding: 20px;
	}


	.multiselect-native-select .btn-group button.multiselect {
		width: 100%;
		text-align: left;
		background-color: transparent;
		color: #000;
		font-size: 1.5em;
		font-weight: 600;
	}
	.multiselect-native-select ul.dropdown-menu {
		width: 100%;
		border: none;
		margin-top: 40px;
		padding-top: 0;
		transform:none !important;
	}
	
	.select-mnth .multiselect-native-select ul.dropdown-menu {
		width: 100%;
		margin-top: 46px;
		transform: none !important;
		border: solid 1px #c3c3c3;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding-top: 15px;
		height: 300px;
		overflow: auto;
	}
	.multiselect-native-select li.active a label {
		color: #fff;
	}
	
	.select-mnth li.multiselect-item.multiselect-filter input {
		/* border-radius: 26px !important; */
		padding: 0 26px;
		border-left: none;
		border-right: none;
		background-color: #f2f2f2;
	}
	.select-mnth li.multiselect-item.multiselect-filter input {
		border-radius: 0!important;
		padding: 0 26px;
		border: none;
	}
	.select-mnth li.multiselect-item.multiselect-filter {padding-bottom: 10px; }
	.select-mnth .multiselect-native-select ul.dropdown-menu {
		width: 100%;
		margin-top: 46px;
		transform: none !important;
		border: solid 1px #c3c3c3;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding-top: 15px;
	}
	.modal-body .multiselect-native-select ul.dropdown-menu {
		margin-top: 60px;
	}
	.modal-body  .multiselect-native-select ul.dropdown-menu {
		display: block !important;
		transform: none !important;
		overflow-y: auto;
		height: 277px;
		position: relative !important;

	}
	li.multiselect-item.multiselect-filter input {
		border-radius: 26px !important;
		padding: 0 26px;
	}
	span.input-group-btn {
		display: none;
	}

	.multiselect-native-select input[type="checkbox"] {
		display: none;
	}

	.multiselect-native-select ul {}

	.multiselect-native-select li.multiselect-item.multiselect-all {
		padding-top: 0px;
		margin-bottom: 10px;
	}

	.multiselect-native-select li a {
		color: #000;
		background-color: #f2f2f2;
		width: 100%;
		display: inherit;
		padding: 7px 20px 7px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	.multiselect-native-select li a label {
		margin-bottom: 0;
		width: 100%;
	}

	.multiselect-native-select ul li.active a {
		background-color: #eb1c24;
		color: #fff;
	}

	li.multiselect-item.multiselect-filter.active {
		position: absolute;
		top: 0;
		width: 100%;
	}
	.select-mnth li.multiselect-item.multiselect-filter.active {position: relative;}
	.multiple-select .modal-body {
		padding: 0;
	}

	.multiple-select button.close {
		position: absolute;
		right: 25px;
		font-size: 33px;
		top: 7px;
		z-index: 9999;
	}
	.multiple-select button.close:hover {background-color: transparent; box-shadow: none; text-shadow: none;}
	b.caret {
		display: none !important;
	}

	.dropdown-toggle::after {
		display: none;
	}

	.modal-body li.multiselect-item.multiselect-filter {
		position: fixed;
		width: 91%;
		margin-top: -58px;
	}

	.thumbs-section-inner h3 {
		font-size: 1.3em;
		background-color: #eb1c24;
		color: #fff;
		padding: 0 23px;
		margin: 0;
		text-transform: uppercase;
	}

	.thumbs-listing ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.thumbs-listing ul li {
		list-style-type: none;
		width: 50%;
		padding-bottom: 10px;
		padding-top: 16px;
		padding: 15px 30px 15px;
	}

	.thumbs-listing {
		box-shadow: 1px 5px 10px rgba(0,0,0,0.05);
	}

	.thumbs-listing ul li span {
		/* display: block; */
		float: left;
		font-size: 1.2em;
	}

	span.list-tital {
		width: 40%;
		color: #000;
		font-size: 1.2em;
	}

	span.list-tital {}

	.thumbs-listing ul li span.list-icon {
		width: 30%;
		text-align: center;
		color: #05b12b;
		font-size: 1.55em;
	}

	span.list-no {
		width: 20%;
		text-align: right;
	}

	.thumbs-listing ul:after {content: "";position: absolute;left: 48%;height: calc(100% - 36px);width: 1px;background-color: #d4d4d4;top: 50%;transform: translateY(-50%);}
	.thumbs-section-inner:last-child {
		margin-bottom: 0;
	}
	.thumbs-section-inner {
		margin-bottom: 35px;
		display: inline-block;
		width: 100%;
	}
	.ui-datepicker-title select option {
		color: #000;
	}

	.multiple-select .modal-footer {    
		border: none;
		display: inline-block;
		justify-content: normal;
		width: 100%;
		padding-bottom: 9px;
	}
	.modal-footer a {
		float: left;
		display: inline-block;
	}

	.modal-footer > button.btn.btn-default {
		float: right;
	}

	button#add-new-theme-show {
		float: left;
	}

	form#new-theme-form {
		padding: 0 16px 15px;
	}

	form#new-theme-form input#theme-title {
		width: calc(100% - 80px);
		height: 44px;
		float: left;
	}

	form#new-theme-form input#theme-title button#add-new-theme {}

	button#add-new-theme {
		border-radius: 3px !important;
		height: 44px;
		padding: 0 20px;
		float: right;
	}

	.chat-link {
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 6px 10px rgba(0,0,0,0.2);
		margin-bottom: 25px;
	}

	.dt-tim-section {
		background-color: #eb1c24;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 9px 20px;
		/* display: inline-block; */
		width: 100%;
		float: left;
	}

	.dt {
		float: left;
		width: 50%;
	}

	.tim {
		float: right;
		width: 50%;
		text-align: right;
	}

	.dt-tim-section strong {
		display: block;
		width: 100%;
		color: #fff;
		font-weight: 600;
		font-size: 1.2em;
		letter-spacing: 0.5px;
		font-family: 'Montserrat', sans-serif;
	}

	.dt-tim-section span {
		display: block;
		width: 100%;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.05em;
		font-weight: 500;
		letter-spacing: 0.5px;
	}

	.dt strong {
		padding-bottom: 2px;
	}

	.chat-link ul {
		margin: 0;
		padding: 0;
		clear: both;
	}

	.chat-link ul li {
		list-style-type: none;
		padding: 12px 15px;
		width: 100%;
		clear: both;
		display: block;
		float: left;
	}

	.chat-link ul li:nth-child(odd) {
		background-color: #f1f1f1;
	}

	.chat-link ul li strong {
		font-size: 1.1em;
		color: #272727;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		width: 50%;
		float: left;
	}

	.chat-link ul li span {float: left;text-align: right;width: 50%;font-family: 'Montserrat', sans-serif;font-weight: 500;color: #6f6d6d;font-size: 0.95em;}

	.cht-lnk-btn {
		width: 100%;
		/* float: left; */
		display: block;
		clear: both;
		text-align: center;
		padding: 28px;
	}

	.cht-lnk-btn .btn {
		background-color: transparent;
		color: #eb1c24;
		font-size: 1.2em;
		font-weight: 600;
		border: solid 1px #eb1c24;
		margin: 0 10px;
		padding: 10px 20px;
		min-width: 116px;
		border-radius: 5px;
	}

	.cht-lnk-btn .btn.lnk-btn {
		color: #afa9a9;
		border: solid 1px #afa9a9;
	}

	.chat-link ul li a {
		color: #eb1c24;
		text-decoration: underline;
	}

	.cht-lnk-btn .btn:hover {
		background-color: #eb1c24;
		color: #fff;
		border: solid 1px #eb1c24;
	}

	.toltip-section span.hide-text {white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: 100%; cursor: pointer; display:block;}
	.comments-text .toltip-section {
		width: 100%;
	}

	.toltip-section .toltip-box {
		position: absolute;
		width: 100%;
		right: 8px;
		top: 90px;
		z-index: 99;
		background-color: #eb1c24;
		padding: 15px 20px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		border-radius: 8px;
		z-index: 9;
		color: #fff;
		opacity: 0;
		transition: all 0.5s ease-in-out; 
		pointer-events: none;
	}

	.toltip-box:after {content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #eb1c24;
	top: -7px;
	transform: rotate(45deg);
	margin: 0 auto;
	right: 6px;
	border-bottom-right-radius: 74px;}
	.toltip-section {float: left; width: 50%;  position: relative; }
	.toltip-section:hover .toltip-box {top: 36px;opacity: 1; pointer-events: all;}
	.date-box .toltip-section {
		width: calc(100% - 96px);
	}
	.chat-link ul li img {
		float: right;
		max-width: 50px;
		max-height: 29px;
		width: auto;
	}
	.comments-text .toltip-box:after,.date-box .toltip-box:after {left: 7px; right: auto;}
	.date-box .hide-text {font-weight: 600;}
