.belif-value {display: inline-block;width: 100%; text-align: center;}
.belif-value span {font-weight: 600; border: solid 1px #cdcdcd; padding: 5px 20px;font-family: "Helvetica","Arial",sans-serif; font-size: 12px; }
img {max-width: 100%; height: auto; outline: none;}
.belif-girap {padding: 50px;}
td {
	padding: 15px;
}
.values-inner {
	padding-top: 53px;
}
.pdf-img img {
}
.pdf-img {
	display: inline-block;
	text-align: center;
}
.pdf-head {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 30px;
}
.pdf-img img {
	float: left;
	max-width: 82px;
}

.pdf-img h2 {
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	font-family: "Helvetica","Arial",sans-serif;
}
.tital-name {
	display: inline-block;
	text-align: left;
	width: 100%;
	border-bottom: solid 1px #e6e6e6;
	margin-bottom: 40px;
}
.team-roles-tital {
	margin-bottom: 3px;
}
h4 { font-family: "Helvetica","Arial",sans-serif; text-align: left;display: none;}
h3 {
	font-size: 24px;
	font-family: "Helvetica","Arial",sans-serif;
}
.pdf-content {
	margin-bottom: 50px;
}
@media print {
	body {
		-webkit-print-color-adjust: exact;
	}
}
form#make_pdf {
	max-width: 1000px;
	margin: 0 auto;
	text-align: right;
	position: fixed;
	bottom: 12px;
	right: 0;
	left: 0;
}

button#create_pdf {
	background-color: #ff5254;
	font-size: 18px;
	border: none;
	padding: 9px 20px 8px;
}
