@media screen and (max-width: 1600px) {

	.company-category ul li {padding: 5px 15px 4px 18px;}
	body {font-size: 15px}
	.ragistration-section .col-md-9 input,.ragistration-section label {font-size: 1em;}
	.loing-form {min-height: 610px; }
	.forget-text {padding-bottom: 15px;}
	.Reset-pass.loing-form .logo-img {padding-bottom: 20px; width: 180px; margin: 0 auto; }
	.Reset-pass .forget-text {padding-bottom: 0;}
	.loing-form .form input {height: 55px;}
	.loing-form .form button.btn {height: 55px; font-size: 1.3em;}
	.performance-text strong {font-size: 1.3em;}
	.performance-list .performance-box .notification {font-size: 1.2em;}
	.improvement-box h3 {font-size: 1.2em;}
}

@media screen and (max-width: 1440px) {
	.chat-link-section table tr table tr th,.chat-link-section table tr td table tr td table tr td {font-size: 1em;padding: 20px 20px;}
	.company-logo a img {max-width: 100%;}
	.performance-text h2 {font-size: 2.7em;}
	body {font-size: 14px}
	.loing-form {padding:0;}
	.loing-form .form-group {margin-bottom: 30px;}
	.loing-form .logo-img {width: 160px; margin: 0 auto;}
	.loging-section .container {max-width: 1077px;}
	.loing-form .form input {height: 58px;}
	.loing-form .form button.btn {height: 58px; font-size: 1.2em;}
	.loing-form {width: 370px;}
	.loing-form .logo-img {padding-bottom: 30px;}
	.company-category ul li {padding: 5px 6px 4px 10px;}
	.company-detale { width: 70%;}
	.company-logo {width: 30%;}
	
	.Belfs-valus button.belief {padding: 8px 10px;}
	.organistiondetail-section {padding: 30px 30px 9px;}
	.detail-btn .adit-btn {padding-left: 10px}
	.detail-box {min-height: 148px;}
	.loing-form {min-height: 577px; }
	.forget-text {padding-bottom: 12px;}
	/*.app-body {height: calc(100vh - 31px);}*/
	.add-catalog-content ul li {padding: 19px 0 21px;}
	.add-catalog-content {padding: 23px 15px 50px;}
	.add-catalog-section .modal-dialog {max-width: 808px; }
	.performance-text strong {padding-right: 0;}
	.performance-text strong {font-size: 1.2em; }
	.improvement-box h3 {padding-left: 20px;}
	.improvement-list .row .col-md-2 {flex: 0 0 25%;max-width: 25%;}
	.view-action .organization-section .col-md-4 {width: 50%; flex: initial; max-width: 50%; }
	.chat-link-section .col-md-4 {flex: initial; width: 50%; max-width: 50%; }
}

@media screen and (max-height:640px) {
	.loing-form {min-height: 540px; }
	.loing-form .logo-img img {margin: 0 auto; max-width: 150px; }
	.loing-form .form input {height: 50px; }
	.loing-form .form button.btn {height: 50px; }
	.loing-form .logo-img {padding-bottom: 25px;}
	p.forget-pass {padding-top: 18px;}
	.forget-text {padding-bottom: 10px;}
	.loing-form .form-group {margin-bottom: 20px;} 

}

@media screen and (max-width: 1350px) {
.menual_fun_lens_wrap .nav li a {
    font-size: 16px;
}
.menual_fun_lens_wrap .nav li {
    margin: 0;
    padding: 10px;
}
.menual_fun_lens_tabs h5 {
    font-size: 16px;
}
}

@media screen and (max-width: 1300px) {
	.Belfs-valus .col-md-3 {padding-right: 20px;} 
	.organistiondetail-box .col-md-4 {padding: 0 15px;}
	.organistiondetail-box {margin: 21px 0px 0;}
	.profile-btn, .account-btn {padding-right: 20px;}
	.detail-btn .adit-btn button {width: 135px;}
	.add-content .col-md-6, .add-content .col-md-4, .add-content .col-md-3 {padding-right: 15px; padding-left: 15px; }
}

@media screen and (max-width:991px) { 
.menual_fun_lens_wrap .nav {
    display: block !important;
}
.menual_fun_lens_wrap .nav li {
    padding: 9px !important;
    min-width: auto;
}
.menual_fun_lens_wrap .nav li a {
    font-size: 12px;
    min-width: auto;
    width: auto;
}
.menual_fun_lens_wrap .tab-content > div {
    overflow-x: auto;
}
}

@media screen and (max-width:767px) { 
	.login-img {display: none;}
	section.loging-section {height: auto;}
	.login-content {margin: 50px 0;}
	.loing-box {width: 100%; }
	.loing-form .form input {padding:0 30px; background-image: none !important;}
	.loing-form .form button.btn {font-size: 1.2em;}
	span.login-icon-img {display: none;}
}
@media screen and (max-width:480px) { 
	.loing-form {width: 100%; padding: 30px 30px; }
}